.search {
    display: block;
    margin: 5rem auto;
    width: 50%;
    font-size: 2rem;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movies > div {
    position: relative;
    width: 300px;
    height: 450px;
    overflow: hidden;
    margin: 2rem;
}

.movies .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.movies .overview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.movies .image {
    position: absolute;
    top: 0;
    left: 0;
}
